<div class="container-fluid">

    <div class="row">
        <div class="col-lg-10">
            <p class="headings">Class Details</p>
        </div>
    </div>
    <div class="card">
        <form #Ekramap="ngForm">
            <div class="row leavereq">

                <div class="col-lg-3">
                    <p class="newFont" style="color:#0C275A">Course Name <span style="color: red;">*</span></p>
                </div>
                <div class="col-lg-3">
                    <p class="newFont" style="color:#0C275A">Subject Name <span style="color: red;">*</span></p>
                </div>
                <div class="col-lg-3">
                    <p class="newFont" style="color:#0C275A">Class Name <span style="color: red;">*</span></p>
                </div>
                <div class="col-lg-3">
                    <p class="newFont" style="color:#0C275A">Class Type <span style="color: red;">*</span></p>
                </div>


            </div>
            <div class="row leavereq">
                <div class="col-lg-3">
                    <select class="form-control" name="cars" id="Duration" [(ngModel)]="CourseID"
                        (change)="getCourseID($event)">
                        <option value="0">Select Course Name</option>
                        <option *ngFor="let details of CourseList" value="{{details.id}}">{{details.courseName}}
                        </option>
                    </select>
                </div>
                <div class="col-lg-3">
                    <select class="form-control" name="subjectID" id="subjectID" [(ngModel)]="subjectID"
                        (change)="geSubjectID($event)">
                        <option style="color:#0C275A" value="0">Select Subject Name</option>
                        <option style="color:#0C275A" *ngFor="let details of subjectlist" value="{{details.id}}">
                            {{details.name}}</option>
                    </select>
                </div>
                <div class="col-lg-3">
                    <input type="text" class="form-control inputfield" placeholder="Class Name" [(ngModel)]="className"
                        name="className">
                </div>
                <div class="col-lg-3">
                    <select class="form-control" name="classTypeId" id="classTypeId" [(ngModel)]="classTypeId"
                        (change)="getclassTypeId($event)">
                        <option style="color:#0C275A" value="0">Select Class Type</option>
                        <option style="color:#0C275A" *ngFor="let details of classTypeList" value="{{details.id}}">
                            {{details.type}}</option>
                    </select>
                </div>


            </div><br>
            <div class="row leavereq ">
                <div class="col-lg-3">
                    <p class="newFont" style="color:#0C275A">Date <span style="color: red;">*</span> </p>
                </div>
                <div class="col-lg-3">
                    <p>Start Time<span style="color: red;">*</span></p>
                </div>
                <div class="col-lg-3">
                    <p>End Time<span style="color: red;">*</span></p>
                </div>
                <div class="col-lg-3" *ngIf="classTypeId==1">
                    <p>Class Link<span style="color: red;">*</span></p>
                </div>
            </div>
            <div class="row leavereq ">
                <div class="col-lg-3">
                    <input type="date" class="form-control inputfield" placeholder="Date" [(ngModel)]="date" name="date"
                        id="date">
                </div>
                <div class="col-md-3">
                    <input type="time" class="form-control inputfield" placeholder="End Time" id="startTime"
                        name="startTime" [(ngModel)]="startTime" name="startTime">

                </div>
                <div class="col-md-3">
                    <input type="time" class="form-control inputfield" placeholder="End Time" id="endTime"
                        name="endTime" [(ngModel)]="endTime" name="endTime">

                </div>
                <div class="col-md-3">
                    <input *ngIf="classTypeId==1" class="form-control inputfield" placeholder="Class Link"
                        id="classLink" name="classLink" [(ngModel)]="classLink">

                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-9"></div>
                <div class="col-lg-1">
                    <button class="form-control cancel" (click)="SaveDetails()" *ngIf="id==null || id==undefined"
                        [disabled]="Ekramap.form.invalid">Adghgd</button>

                    <button class="form-control cancel" *ngIf="id!=null || id!=undefined"    
                        (click)="Update()">Update</button>
                </div>
                <div class="col-lg-1">
                    <button class="form-control  cancel" (click)="cancel()">Cancel</button>
                </div>
            </div><br>
           
        </form>
    </div> <br>
    <div class="row" *ngIf="tablecount==1">
        <div class="col-lg-12">
            <table class="table">
                <thead>
                    <tr>
                        <!-- <th>Course Name</th>
                        <th>Subject Name</th>
                        <th>Class Type</th> -->
                        <th>Class Name</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                    </tr>
                    <tr *ngFor="let details of keyresultArray">
                        <!-- <td>{{details.courseName}}</td>
                        <td>{{details.subjectName}}</td>
                        <td>{{details.classtype}}</td> -->
                        <td>{{details.className}}</td>
                        <td>{{details.startTime}}</td>
                        <td>{{details.endTime}}</td>
                    </tr>
                </thead>
            </table>
            <br>
            <div class="row">
                <div class="col-lg-10"></div>
                <div class="col-lg-2">
                    <button class="form-control cancel" (click)="Submit()">Save</button>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>